body{
    display: flex;
    justify-content: center;
    align-items:center; 
    width:100vw; 
	min-height:100vh;
    gap: 20px;
}

.box{
   color: white;
   background-color: skyblue;
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 35px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}