body {
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3vh;
}

.showdiv {
  background-color: lightgrey;
  width: 80vw;
  flex-basis: 8vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
